.card {
    margin: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    font-weight: 700;
}

.imgCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 75%;
}
