.cardDiv {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;
}

.imgProd {
    border-radius: 15px;
    width: 250px;
    position: absolute;
}

.nameDiv {
    width: 250px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: relative;
}

.prodTxt {
    position: relative;
    color: white;
    font-weight: 900;
    font-size: 34px;
    text-align: center;
}

.nameDiv:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transition: .2s ease;
}