.cardDiv {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;
}

.imgProd {
    width: 220px;
    position: absolute;
}

.nameDiv {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.550);
    border-radius: 15px;
    position: relative;
}

.nameProd {
    position: relative;
    color: white;
    font-weight: 900;
    font-size: 32px;
    text-align: center;
}